<!DOCTYPE html>
<!-- 
Author: Unique&Smart Inc.
-->
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
    <meta charset="utf-8">
    <title id="title">Unique & Smart</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta content="UNIQUE & SMART description" name="description">
    <meta content="UNIQUE & SMART keywords" name="keywords">
    <meta content="UNIQUE & SMART" name="author">

    <meta property="og:site_name" content="UNIQUE & SMART">
    <meta property="og:title" content="UNIQUE & SMART">
    <meta property="og:description" content="Unique & smart is a web applications builder company.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
    <meta property="og:url" content="-CUSTOMER VALUE-">

    <link rel="shortcut icon" href="favicon.ico">
    <!-- Fonts START -->
    <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Pathway+Gothic+One|PT+Sans+Narrow:400+700|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all"-->
    <!--rel="stylesheet" type="text/css">-->
    <!-- Fonts END -->
    <!-- Global styles BEGIN -->
    <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/global/plugins/slider-revolution-slider/rs-plugin/css/settings.css" rel="stylesheet">
    <!-- Global styles END -->
    <!-- Page level plugin styles BEGIN -->
    <link href="../assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
    <!-- Page level plugin styles END -->
    <!-- Theme styles BEGIN -->
    <link href="../assets/global/css/components.css" rel="stylesheet">
    <link href="../assets/frontend/onepage/css/style.css" rel="stylesheet">
    <link href="../assets/frontend/onepage/css/style-responsive.css" rel="stylesheet">
    <link href="../assets/frontend/onepage/css/themes/red.css" rel="stylesheet" id="style-color">
    <link href="../assets/frontend/onepage/css/custom.css" rel="stylesheet">
    <!-- Theme styles END -->
</head>
<!--DOC: menu-always-on-top class to the body element to set menu on top -->
<body>
<!-- Header BEGIN -->
<div class="header header-mobi-ext">
    <div class="container">
        <div class="row">
            <!-- Logo BEGIN -->
            <div class="col-md-2 col-sm-2">
                <a class="scroll site-logo" href="#promo-block"><img
                            src="../assets/frontend/onepage/img/logo/red.png" alt="UNIQUE & SMART"></a>
            </div>
            <!-- Logo END -->
            <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
            <!-- Navigation BEGIN -->
            <div class="col-md-10 pull-right">
                <ul class="header-navigation">
                    <li class="current"><a href="#promo-block" id="menu1"></a></li>
                    <li><a href="#about" id="menu2"></a></li>
                    <li><a href="#services" id="menu3"></a></li>
                    <!--<li><a href="#team" id="menu4"></a></li>-->
                    <li><a href="#portfolio" id="menu5"></a></li>
                    <li><a href="#benefits" id="menu6"></a></li>
                    <li><a href="#prices" id="menu7"></a></li>
                    <li><a href="#contact" id="menu8"></a></li>
                    <li><a href="javascript:TranslateSite('es')"><img src="../assets/global/img/flags/es.png"
                                                                      alt="es-flag"></a></li>
                    <li><a href="javascript:TranslateSite('en')"><img src="../assets/global/img/flags/us.png"
                                                                      alt="es-flag"></a></li>
                </ul>
            </div>
            <!-- Navigation END -->
        </div>
    </div>
</div>
<!-- Header END -->
<!-- Promo block BEGIN -->
<div class="promo-block" id="promo-block">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-delay="9400"
                    class="slider-item-1">
                    <img src="../assets/frontend/onepage/img/silder/slide1.jpg" alt="" data-bgfit="cover"
                         style="opacity:0.4 !important;" data-bgposition="center center" data-bgrepeat="no-repeat">

                    <div class="tp-caption large_text customin customout start"
                         data-x="center"
                         data-hoffset="0"
                         data-y="center"
                         data-voffset="60"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="500"
                         data-easing="Back.easeInOut"
                         data-endspeed="300">
                        <div class="promo-like"><i class="fa fa-thumbs-up"></i></div>
                        <div class="promo-like-text">
                            <h2 id="text1"></h2>

                            <p id="text2">
                        </div>
                    </div>
                    <div class="tp-caption large_bold_white fade"
                         data-x="center"
                         data-y="center"
                         data-voffset="-110"
                         data-speed="300"
                         data-start="1700"
                         data-easing="Power4.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6" id="text3"></div>
                </li>
                <li data-transition="fadefromright" data-slotamount="5" data-masterspeed="700" data-delay="9400"
                    class="slider-item-2">
                    <img src="../assets/frontend/onepage/img/silder/Slide2_bg.jpg" alt="slidebg2" data-bgfit="cover"
                         data-bgposition="center center" data-bgrepeat="no-repeat">

                    <div class="caption lft start"
                         data-y="center"
                         data-voffset="40"
                         data-x="center"
                         data-hoffset="-250"
                         data-speed="600"
                         data-start="500"
                         data-easing="easeOutBack"><img
                                src="../assets/frontend/onepage/img/silder/Slide2_iphone_left.png" alt="">
                    </div>
                    <div class="caption lft start"
                         data-y="center"
                         data-voffset="130"
                         data-x="center"
                         data-hoffset="170"
                         data-speed="600"
                         data-start="1200"
                         data-easing="easeOutBack"><img
                                src="../assets/frontend/onepage/img/silder/Slide2_iphone_right.png" alt="">
                    </div>
                    <div class="tp-caption large_bold_white fade"
                         data-x="center"
                         data-y="40"
                         data-speed="300"
                         data-start="1700"
                         data-easing="Power4.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6" id="text4">
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
<!-- Promo block END -->
<!-- About block BEGIN -->
<div class="about-block content content-center" id="about">
    <div class="container">
        <h2><strong>UNIQUE</strong> & SMART</h2>
        <h4 id="text7"></h4>

        <div class="ab-trio">
            <img src="../assets/frontend/onepage/img/trio.png" alt="" class="img-responsive">

            <div class="ab-cirlce ab-cirle-blue">
                <i class="fa fa-code"></i>
                <strong id="text8"></strong>
            </div>
            <div class="ab-cirlce ab-cirle-red">
                <i class="fa fa-gift"></i>
                <strong id="text9"></strong>
            </div>
            <div class="ab-cirlce ab-cirle-green">
                <i class="fa fa-mobile"></i>
                <strong id="text10"></strong>
            </div>
        </div>
    </div>
</div>
<!-- About block END -->
<!-- Services block BEGIN -->
<div class="services-block content content-center" id="services">
    <div class="container">
        <h2 id="text11"></h2>
        <h4 id="text12"></h4>

        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <i class="fa fa-heart"></i>

                <h3 id="text13"></h3>

                <p id="text14"></p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <i class="fa fa-mobile"></i>

                <h3 id="text15"></h3>

                <p id="text16"></p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <i class="fa fa-signal"></i>

                <h3 id="text17"></h3>

                <p id="text18"></p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 item">
                <i class="fa fa-camera"></i>

                <h3 id="text19"></h3>

                <p id="text20"></p>
            </div>
        </div>
    </div>
</div>
<!-- Services block END -->
<!-- Message block BEGIN -->
<div class="message-block content content-center valign-center" id="message-block">
    <div class="valign-center-elem">
        <h2 id="text21"></h2>
        <em><strong>UNIQUE & SMART </strong>TEAM </em></div>
</div>
<!-- Message block END -->
<!-- Team block BEGIN -->
<!--<div class="team-block content content-center margin-bottom-40" id="team">-->
<!--<div class="container">-->
<!--<h2>Meet <strong>the team</strong></h2>-->
<!--<h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h4>-->

<!--<div class="row">-->
<!--<div class="col-md-4 item">-->
<!--<img src="../assets/frontend/onepage/img/people/img6-large.jpg" alt="Marcus Doe"-->
<!--class="img-responsive">-->

<!--<h3>Marcus Doe</h3>-->
<!--<em>Founder</em>-->

<!--<p>Lorem ipsum dolor amet, tempor ut labore magna tempor dolore</p>-->

<!--<div class="tb-socio">-->
<!--<a href="javascript:void(0);" class="fa fa-facebook"></a>-->
<!--<a href="javascript:void(0);" class="fa fa-twitter"></a>-->
<!--<a href="javascript:void(0);" class="fa fa-google-plus"></a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-4 item">-->
<!--<img src="../assets/frontend/onepage/img/people/img7-large.jpg" alt="Elena Taylor"-->
<!--class="img-responsive">-->

<!--<h3>Elena Taylor</h3>-->
<!--<em>Designer</em>-->

<!--<p>Lorem ipsum dolor amet, tempor ut labore magna tempor dolore</p>-->

<!--<div class="tb-socio">-->
<!--<a href="javascript:void(0);" class="fa fa-facebook"></a>-->
<!--<a href="javascript:void(0);" class="fa fa-twitter"></a>-->
<!--<a href="javascript:void(0);" class="fa fa-google-plus"></a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-4 item">-->
<!--<img src="../assets/frontend/onepage/img/people/img8-large.jpg" alt="Cris Nilson"-->
<!--class="img-responsive">-->

<!--<h3>Cris Nilson</h3>-->
<!--<em>Developer</em>-->

<!--<p>Lorem ipsum dolor amet, tempor ut labore magna tempor dolore</p>-->

<!--<div class="tb-socio">-->
<!--<a href="javascript:void(0);" class="fa fa-facebook"></a>-->
<!--<a href="javascript:void(0);" class="fa fa-twitter"></a>-->
<!--<a href="javascript:void(0);" class="fa fa-google-plus"></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- Team block END -->
<!-- Portfolio block BEGIN -->
<div class="portfolio-block content content-center" id="portfolio">
    <div class="container">
        <h2 class="margin-bottom-50" id="text22"></h2>
    </div>
    <div class="row">
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="../assets/frontend/onepage/img/portfolio/2.jpg" alt="NAME" class="img-responsive">
            <a href="../assets/frontend/onepage/img/portfolio/2.jpg" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong id="w1"></strong>
                    <em id="w1e"></em>
                    <b class="detail"></b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="../assets/frontend/onepage/img/portfolio/6.jpg" alt="NAME" class="img-responsive">
            <a href="../assets/frontend/onepage/img/portfolio/6.jpg" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong id="w2"></strong>
                    <em id="w2e"></em>
                    <b class="detail"></b>
                </div>
            </a>
        </div>
        <!--<div class="item col-md-2 col-sm-6 col-xs-12">-->
        <!--<img src="../assets/frontend/onepage/img/portfolio/8.jpg" alt="NAME" class="img-responsive">-->
        <!--<a href="../assets/frontend/onepage/img/portfolio/8.jpg" class="zoom valign-center">-->
        <!--<div class="valign-center-elem">-->
        <!--<strong>London City Project</strong>-->
        <!--<em>Property</em>-->
        <!--<b>Details</b>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="item col-md-2 col-sm-6 col-xs-12">-->
        <!--<img src="../assets/frontend/onepage/img/portfolio/3.jpg" alt="NAME" class="img-responsive">-->
        <!--<a href="../assets/frontend/onepage/img/portfolio/3.jpg" class="zoom valign-center">-->
        <!--<div class="valign-center-elem">-->
        <!--<strong>London City Project</strong>-->
        <!--<em>Property</em>-->
        <!--<b>Details</b>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="item col-md-2 col-sm-6 col-xs-12">-->
        <!--<img src="../assets/frontend/onepage/img/portfolio/5.jpg" alt="NAME" class="img-responsive">-->
        <!--<a href="../assets/frontend/onepage/img/portfolio/5.jpg" class="zoom valign-center">-->
        <!--<div class="valign-center-elem">-->
        <!--<strong>London City Project</strong>-->
        <!--<em>Property</em>-->
        <!--<b>Details</b>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="item col-md-2 col-sm-6 col-xs-12">-->
        <!--<img src="../assets/frontend/onepage/img/portfolio/4.jpg" alt="NAME" class="img-responsive">-->
        <!--<a href="../assets/frontend/onepage/img/portfolio/4.jpg" class="zoom valign-center">-->
        <!--<div class="valign-center-elem">-->
        <!--<strong>London City Project</strong>-->
        <!--<em>Property</em>-->
        <!--<b>Details</b>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="item col-md-2 col-sm-6 col-xs-12">-->
        <!--<img src="../assets/frontend/onepage/img/portfolio/1.jpg" alt="NAME" class="img-responsive">-->
        <!--<a href="../assets/frontend/onepage/img/portfolio/1.jpg" class="zoom valign-center">-->
        <!--<div class="valign-center-elem">-->
        <!--<strong>London City Project</strong>-->
        <!--<em>Property</em>-->
        <!--<b>Details</b>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="item col-md-2 col-sm-6 col-xs-12">-->
        <!--<img src="../assets/frontend/onepage/img/portfolio/10.jpg" alt="NAME" class="img-responsive">-->
        <!--<a href="../assets/frontend/onepage/img/portfolio/10.jpg" class="zoom valign-center">-->
        <!--<div class="valign-center-elem">-->
        <!--<strong>London City Project</strong>-->
        <!--<em>Property</em>-->
        <!--<b>Details</b>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="item col-md-2 col-sm-6 col-xs-12">-->
        <!--<img src="../assets/frontend/onepage/img/portfolio/9.jpg" alt="NAME" class="img-responsive">-->
        <!--<a href="../assets/frontend/onepage/img/portfolio/9.jpg" class="zoom valign-center">-->
        <!--<div class="valign-center-elem">-->
        <!--<strong>London City Project</strong>-->
        <!--<em>Property</em>-->
        <!--<b>Details</b>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="item col-md-2 col-sm-6 col-xs-12">-->
        <!--<img src="../assets/frontend/onepage/img/portfolio/7.jpg" alt="NAME" class="img-responsive">-->
        <!--<a href="../assets/frontend/onepage/img/portfolio/7.jpg" class="zoom valign-center">-->
        <!--<div class="valign-center-elem">-->
        <!--<strong>London City Project</strong>-->
        <!--<em>Property</em>-->
        <!--<b>Details</b>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="item col-md-2 col-sm-6 col-xs-12">-->
        <!--<img src="../assets/frontend/onepage/img/portfolio/2.jpg" alt="NAME" class="img-responsive">-->
        <!--<a href="../assets/frontend/onepage/img/portfolio/2.jpg" class="zoom valign-center">-->
        <!--<div class="valign-center-elem">-->
        <!--<strong>London City Project</strong>-->
        <!--<em>Property</em>-->
        <!--<b>Details</b>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="item col-md-2 col-sm-6 col-xs-12">-->
        <!--<img src="../assets/frontend/onepage/img/portfolio/8.jpg" alt="NAME" class="img-responsive">-->
        <!--<a href="../assets/frontend/onepage/img/portfolio/8.jpg" class="zoom valign-center">-->
        <!--<div class="valign-center-elem">-->
        <!--<strong>London City Project</strong>-->
        <!--<em>Property</em>-->
        <!--<b>Details</b>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
    </div>
</div>
<!-- Portfolio block END -->
<!-- Choose us block BEGIN -->
<div class="choose-us-block content text-center margin-bottom-40" id="benefits">
    <div class="container">
        <h2 id="text23"></h2>
        <h4 id="text24"></h4>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 text-left">
                <img src="../assets/frontend/onepage/img/choose-us.png" alt="Why to choose us"
                     class="img-responsive">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-left">
                <div class="panel-group" id="accordion1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1"
                                   href="#accordion1_1" id="text25"></a>
                            </h5>
                        </div>
                        <div id="accordion1_1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p id="text26"></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1"
                                   href="#accordion1_2" id="text27"></a>
                            </h5>
                        </div>
                        <div id="accordion1_2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p id="text28"></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1"
                                   href="#accordion1_3" id="text29"></a>
                            </h5>
                        </div>
                        <div id="accordion1_3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p id="text30"></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1"
                                   href="#accordion1_4" id="text31"></a>
                            </h5>
                        </div>
                        <div id="accordion1_4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p id="text32"></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1"
                                   href="#accordion1_5" id="text33"></a>
                            </h5>
                        </div>
                        <div id="accordion1_5" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p id="text34"></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1"
                                   href="#accordion1_6" id="text35"></a>
                            </h5>
                        </div>
                        <div id="accordion1_6" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p id="text36"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Choose us block END -->
<!-- Checkout block BEGIN -->
<div class="checkout-block content">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2 id="text37"></h2>
            </div>
            <div class="col-md-2 text-right">
                <a href="" target="_blank" class="btn btn-primary" id="text38"></a>
            </div>
        </div>
    </div>
</div>
<!-- Checkout block END -->
<!-- Facts block BEGIN -->
<div class="facts-block content content-center" id="facts-block">
    <h2 id="text39"></h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="item" id="p1">
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="item" id="p2">
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="item" id="p3">
                </div>
            </div>
            <!--<div class="col-md-3 col-sm-3 col-xs-6">-->
            <!--<div class="item">-->
            <!--<strong>500</strong>-->
            <!--Weekly Sales-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
<!-- Facts block END -->
<!-- Prices block BEGIN -->
<div class="prices-block content content-center" id="prices">
    <div class="container">
        <h2 class="margin-bottom-50" id="text40"></h2>

        <div class="row">
            <!-- Pricing item BEGIN -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="pricing-head">
                        <h3 id="item1"></h3>

                        <p id="item1d"></p>
                    </div>
                    <div class="pricing-content">
                        <div class="pi-price" id="item1p"></div>
                        <ul class="list-unstyled" id="item1li">
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a class="btn btn-default detail" href="javascript:void(0);"></a>
                    </div>
                </div>
            </div>
            <!-- Pricing item END -->
            <!-- Pricing item BEGIN -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="pricing-head">
                        <h3 id="item2"></h3>

                        <p id="item2d"></p>
                    </div>
                    <div class="pricing-content">
                        <div class="pi-price" id="item2p"></div>
                        <ul class="list-unstyled" id="item2li">
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a class="btn btn-default detail" href="javascript:void(0);"></a>
                    </div>
                </div>
            </div>
            <!-- Pricing item END -->
            <!-- Pricing item BEGIN -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="pricing-head">
                        <h3 id="item3"></h3>

                        <p id="item3d"></p>
                    </div>
                    <div class="pricing-content">
                        <div class="pi-price" id="item3p"></div>
                        <ul class="list-unstyled" id="item3li"></ul>
                    </div>
                    <div class="pricing-footer">
                        <a class="btn btn-default detail" href="javascript:void(0);"></a>
                    </div>
                </div>
            </div>
            <!-- Pricing item END -->
        </div>
    </div>
</div>
<!-- Prices block END -->
<!-- Testimonials block BEGIN -->
<div class="testimonials-block content content-center margin-bottom-65">
    <div class="container">
        <h2 id="text41"></h2>
        <h4 id="text42"></h4>

        <div class="carousel slide" data-ride="carousel" id="testimonials-block">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <!-- Carousel items -->
                <div class="active item">
                    <blockquote>
                        <p id="text43"></p>
                    </blockquote>
                    <span class="testimonials-name" id="text44"></span>
                </div>
                <!-- Carousel items -->
                <div class="item">
                    <blockquote>
                        <p id="text45"></p>
                    </blockquote>
                    <span class="testimonials-name" id="text46"></span>
                </div>
                <!-- Carousel items -->
                <div class="item">
                    <blockquote>
                        <p id="text47"></p>
                    </blockquote>
                    <span class="testimonials-name" id="text48"></span>
                </div>
            </div>
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#testimonials-block" data-slide-to="0" class="active"></li>
                <li data-target="#testimonials-block" data-slide-to="1"></li>
                <li data-target="#testimonials-block" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
</div>
<!-- Testimonials block END -->
<!-- Partners block BEGIN -->
<div class="partners-block">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-6">
                <img src="../assets/frontend/onepage/img/partners/cisco.png" alt="cisco">
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6">
                <img src="../assets/frontend/onepage/img/partners/walmart.png" alt="walmart">
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6">
                <img src="../assets/frontend/onepage/img/partners/gamescast.png" alt="gamescast">
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6">
                <img src="../assets/frontend/onepage/img/partners/spinwokrx.png" alt="spinwokrx">
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6">
                <img src="../assets/frontend/onepage/img/partners/ngreen.png" alt="ngreen">
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6">
                <img src="../assets/frontend/onepage/img/partners/vimeo.png" alt="vimeo">
            </div>
        </div>
    </div>
</div>
<!-- Partners block END -->
<!-- BEGIN PRE-FOOTER -->
<div class="pre-footer" id="contact">
    <div class="container">
        <div class="row">
            <!-- BEGIN BOTTOM ABOUT BLOCK -->
            <div class="col-md-6 col-sm-6 pre-footer-col">
                <h2 id="text49"></h2>

                <p id="text50"></p>

                <p>Duis autem vel eum iriure dolor vulputate velit esse molestie at dolore.</p>
            </div>
            <!-- END BOTTOM ABOUT BLOCK -->
            <!-- BEGIN TWITTER BLOCK -->
            <!--<div class="col-md-4 col-sm-6 pre-footer-col">-->
            <!--<h2 class="margin-bottom-0">Latest Tweets</h2>-->
            <!--<a class="twitter-timeline" href="https://twitter.com/twitterapi" data-tweet-limit="2" data-theme="dark"-->
            <!--data-link-color="#57C8EB" data-widget-id="455411516829736961"-->
            <!--data-chrome="noheader nofooter noscrollbar noborders transparent">Loading tweets by-->
            <!--@keenthemes...</a>-->
            <!--</div>-->
            <!-- END TWITTER BLOCK -->
            <div class="col-md-6 col-sm-6 pre-footer-col">
                <!-- BEGIN BOTTOM CONTACTS -->
                <h2>Our Contacts</h2>
                <address class="margin-bottom-20">
                    35, Lorem Lis Street, Park Ave<br>
                    California, US<br>
                    Phone: 300 323 3456<br>
                    Fax: 300 323 1456<br>
                    Email: <a href="mailto:albrick@zoho.com">albrick@zoho.com</a><br>
                    <!--Skype: <a href="skype:albrick">albrick</a>-->
                </address>
                <!-- END BOTTOM CONTACTS -->
                <!--<div class="pre-footer-subscribe-box">-->
                <!--<h2>Newsletter</h2>-->

                <!--<form action="javascript:void(0);">-->
                <!--<div class="input-group">-->
                <!--<input type="text" placeholder="youremail@mail.com" class="form-control">-->
                <!--<span class="input-group-btn">-->
                <!--<button class="btn btn-primary" type="submit">Subscribe</button>-->
                <!--</span>-->
                <!--</div>-->
                <!--</form>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<!-- END PRE-FOOTER -->
<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN COPYRIGHT -->
            <div class="col-md-6 col-sm-6">
                <div class="copyright">2016 © UNIQUE & SMART. ALL Rights Reserved.</div>
            </div>
            <!-- END COPYRIGHT -->
            <!-- BEGIN SOCIAL ICONS -->
            <div class="col-md-6 col-sm-6 pull-right">
                <ul class="social-icons">
                    <li><a class="rss" data-original-title="rss" href="javascript:void(0);"></a></li>
                    <li><a class="facebook" data-original-title="facebook" href="javascript:void(0);"></a></li>
                    <li><a class="twitter" data-original-title="twitter" href="javascript:void(0);"></a></li>
                    <li><a class="googleplus" data-original-title="googleplus" href="javascript:void(0);"></a></li>
                    <li><a class="linkedin" data-original-title="linkedin" href="javascript:void(0);"></a></li>
                    <li><a class="youtube" data-original-title="youtube" href="javascript:void(0);"></a></li>
                    <li><a class="vimeo" data-original-title="vimeo" href="javascript:void(0);"></a></li>
                    <li><a class="skype" data-original-title="skype" href="javascript:void(0);"></a></li>
                </ul>
            </div>
            <!-- END SOCIAL ICONS -->
        </div>
    </div>
</div>
<!-- END FOOTER -->
<a href="#promo-block" class="go2top scroll"><i class="fa fa-arrow-up"></i></a>
<!--[if lt IE 9]>
<script src="../assets/global/plugins/respond.min.js"></script>
<![endif]-->
<!-- Load JavaScripts at the bottom, because it will reduce page load time -->
<!-- Core plugins BEGIN (For ALL pages) -->
<script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- Core plugins END (For ALL pages) -->
<!-- BEGIN RevolutionSlider -->
<script src="../assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"
        type="text/javascript"></script>
<script src="../assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"
        type="text/javascript"></script>
<script src="../assets/frontend/onepage/scripts/revo-ini.js" type="text/javascript"></script>
<!-- END RevolutionSlider -->
<!-- Core plugins BEGIN (required only for current page) -->
<script src="../assets/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<!-- pop up -->
<script src="../assets/global/plugins/jquery.easing.js"></script>
<script src="../assets/global/plugins/jquery.parallax.js"></script>
<script src="../assets/global/plugins/jquery.scrollTo.min.js"></script>
<script src="../assets/frontend/onepage/scripts/jquery.nav.js"></script>
<!-- Core plugins END (required only for current page) -->
<!-- Global js BEGIN -->
<script src="../assets/frontend/onepage/scripts/layout.js" type="text/javascript"></script>
<script src="../assets/frontend/onepage/scripts/translations.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        Layout.init();
        //Se inicia en espannol el sitio
        TranslateSite('es');
        $('#en').on('click', function () {
            this.preventDefault();
            alert('asd')
            TranslateSite('en')
            return false;
        });
        $('#es').click(function () {
            this.preventDefault();
            TranslateSite('es')
            return false;
        });
    });
</script>
<!-- Global js END -->
</body>
</html>